<nav>
	<div class="sidebar">
		<a href="index_ru.html">Главная</a>
		<button class="dropdown-btn">Маникюр<i class="fa-caret-down"></i></button>
  			<div class="dropdown-container">
    			<a href="manicure_plain_ru.html">Однотонное покрытие</a>
				<a href="manicure_accents_ru.html">Маленькие акценты</a>
    			<a href="manicure_french_ru.html">Французский маникюр</a>
    			<a href="manicure_design_ru.html">Повседневные дизайны</a>
				<a href="manicure_seasons_ru.html">Дизайны по сезонам</a>
				<a href="manicure_holiday_ru.html">Праздничные дизайны</a>
  			</div>
		<a href="pedicure_ru.html">Педикюр</a>
		<a href="gallery_ru.html">Галерея</a>
		<a href="contacts_ru.html">Контакты</a>
		<a href="location_ru.html">Адрес</a>
		<img class="polish" src = "images/nail_polish.png" />
	</div>
<script src="scripts/dropdownmenu.js"></script>
</nav>