<nav>
	<div class="sidebar">
		<a href="index.html">Home</a>
		<button class="dropdown-btn">Manicure<i class="fa-caret-down"></i></button>
  			<div class="dropdown-container">
    			<a href="manicure_plain_en.html">Plain Gel Polish</a>
				<a href="manicure_accents_en.html">Small Accents</a>
    			<a href="manicure_french_en.html">French Manicure</a>
    			<a href="manicure_design_en.html">Everyday Designs</a>
				<a href="manicure_seasons_en.html">Seasons Designs</a>
				<a href="manicure_holiday_en.html">Holidays Designs</a>
  			</div>
		<a href="pedicure_en.html">Pedicure</a>
		<a href="gallery_en.html">Gallery</a>
		<a href="contacts_en.html">Contact</a>
		<a href="location_en.html">Location</a>
		<img class="polish" src = "images/nail_polish.png" />
	</div>
<script src="scripts/dropdownmenu.js"></script>
</nav>
